<title>ONLIX</title>

<!-- Display -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='style.css') }}"
/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8" />

<!-- SEO -->
<meta
  name="description"
  content="ONLIX.ME Homepage, created by Felix aka. nsde"
/>
<meta name="keywords" content="onlix, onlix.me, nsde, onlix me" />
<meta name="author" content="ONLIX aka. Felix aka. nsde" />

{% include '_favicons.html' %}

<!-- Other -->
<link rel="manifest" href="../_favicons/manifest.json" />
<meta name="msapplication-TileColor" content="#ffffff" />
<meta
  name="msapplication-TileImage"
  content="../_favicons//ms-icon-144x144.png"
/>
<meta name="theme-color" content="#ffffff" />
