@keyframes transparency {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes texteffect {
  0% {
    motion-rotation: 10rem;
  }
  100% {
    motion-rotation: 10rem;
  }
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

:root {
  --main: -webkit-linear-gradient(
    45deg,
    rgb(0, 132, 255) 0%,
    rgb(81, 161, 252) 30%,
    rgb(29, 49, 161) 100%
  );
  --light: -webkit-linear-gradient(
    90deg,
    rgb(99, 97, 253) 0%,
    rgb(94, 136, 228) 30%,
    rgb(58, 92, 187) 100%
  );

  --dark: -webkit-linear-gradient(
    90deg,
    rgb(55, 87, 128) 0%,
    rgb(84, 102, 204) 30%,
    rgb(69, 75, 128) 100%
  );

  --fg: white;
  --mg: #090a11;
  --bg: #06070c;

  --fontbasic: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.header {
  padding: 1rem;
  text-align: center;
  color: var(--fg);
  margin-bottom: 3rem;
}

.navbar a {
  margin-right: 2rem;
  font-size: 1.5rem;
  transition: 0.5s;
}

.navbar a:hover {
  opacity: 80%;
  transition: font-weight 0.5s ease-in-out;
}

.active {
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
a {
  font-family: var(--fontbasic);
}

h1,
code,
pre {
  background: var(--main);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

mark,
a {
  background: var(--light);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

code,
pre {
  font-weight: 600;
}

h1.header {
  font-size: 3rem;
  animation: 1s ease-out 0s texteffect;
}

h1 {
  font-weight: 100;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  margin-bottom: 2rem;
}

h2,
h3 {
  margin-top: 4rem;
}

h4,
h5,
h6 {
  margin-top: 2rem;
}

iframe {
  margin: 1rem;
}

a {
  color: var(--main);
  text-decoration: none;
}

a:hover {
  color: #7f27be;
  transition: color 0.5s;
}

p,
ul,
li,
dd,
dt {
  color: var(--fg);
  font-family: var(--fontbasic);
  font-weight: 400;
  line-height: 1.618;
}

p,
code,
ul,
li,
dd,
dt {
  font-size: 1.2rem;
}

dt {
  font-weight: bold;
}

body {
  color: var(--fg);
  background-color: var(--bg);

  margin-left: 30%;
  margin-right: 30%;
  margin-top: 3%;
  margin-bottom: 4%;

  opacity: 100%;
  animation: 0.5s ease-out 0s 1 transparency;
}

button,
.button,
input[type="submit"] {
  font-family: var(--fontbasic);
  font-weight: 600;
  background: var(--dark);
  border: none;
  color: var(--fg);
  display: inline-block;
  padding: 1rem;
  /* margin: 2rem; */
  cursor: pointer;
  border-radius: 1rem;
  display: inline-block;
}

button:hover,
.button:hover,
input:hover,
select:hover,
a:hover,
code:hover {
  opacity: 80%;
  transition: opacity 0.5s;
}

input:not([type="submit"]) {
  box-sizing: border-box;
  display: inline-block;

  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1.8rem;
  margin-right: 1rem;
  font-size: 1rem;
  width: 40%;

  color: var(--fg);
  font-family: var(--fontbasic);
  background-color: var(--mg);

  border-style: none;
}

input::placeholder {
  opacity: 80%;
}

select {
  font-family: var(--fontbasic);
  color: var(--fg);
  background-image: var(--main);
  border-style: none;
  border-radius: 1rem;
  padding: 1rem;
}

label {
  font-weight: bold;
}

code {
  margin: 0.5rem;
  font-family: "Courier New", Courier, monospace;
}

blockquote {
  font-style: italic;
}
