<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Error 503 (Backend)</title>

    <link href="/home/python/web/public/static/lila.css" rel="stylesheet">

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/home/python/web/public/static/logo.png" sizes="180x180">
    <link rel="icon" href="/home/python/web/public/static/logo.png" sizes="32x32">
    <link rel="icon" href="/home/python/web/public/static/logo.png" sizes="16x16">
    <link rel="image_src" href="/home/python/web/public/static/logo.png">
</head>

<body>
    <header>
        <nav>
            <a href="/" class="">Error</a>
        </nav>

        <h1>This website is having technical issues right now, check back later!</h1>
        <p>This might even be intentional, so don't worry. It should be fixed soon.</p>
    </header>

    <main>

<div class="text-box article-info">
    <p><strong>Warning!</strong> I'm a backendless and static webpage and the usual website is broken right now.</p>
</div>

<div class="row">
    <div class="w-2">
        <h3>Error, my web backend is broken!</h3>
        <h4>The website should work again in a few minutes to hours.</h4>
        <a href="onlixx@pm.me"><button>Mail me (if it's important & the issue persists for 24+ hours)</button></a>
    </div>
    <div class="w-2">
        <svg width="200" height="200" version="1.1" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
            <path
                d="m25 6.6565c-10.103 0-18.324 8.2194-18.324 18.323 1.14e-5 10.103 8.2209 18.324 18.324 18.324s18.324-8.2209 18.324-18.324c-1.1e-5 -10.103-8.2209-18.323-18.324-18.323zm0 2.7827c8.5993 0 15.54 6.9409 15.54 15.54-1e-5 8.5993-6.9409 15.542-15.54 15.542-8.5993 7.7e-5 -15.54-6.9424-15.54-15.542 9.7e-6 -8.5993 6.9409-15.54 15.54-15.54z"
                color="#000000" color-rendering="auto" fill="#ec2828" image-rendering="auto" shape-rendering="auto"
                solid-color="#000000"
                style="block-progression:tb;isolation:auto;mix-blend-mode:normal;text-decoration-color:#000000;text-decoration-line:none;text-decoration-style:solid;text-indent:0;text-transform:none;white-space:normal" />
            <path
                d="m32.528 16.212c-0.39394-0.39394-1.0278-0.39394-1.4217 0l-5.2591 5.2591-4.3557 4.3557-5.2591 5.2591c-0.39394 0.39394-0.39394 1.0278 1e-6 1.4217l1.2398 1.2398c0.39394 0.39394 1.0278 0.39394 1.4217 1e-6l5.2591-5.2591 4.3557-4.3557 5.2591-5.2591c0.39394-0.39394 0.39394-1.0278-1e-6 -1.4217l-1.2398-1.2398z"
                fill="#ec2828" />
            <path
                d="m16.232 17.452c-0.39394 0.39394-0.39394 1.0278 0 1.4217l5.2591 5.2591 4.3557 4.3557 5.2591 5.2591c0.39394 0.39394 1.0278 0.39394 1.4217-1e-6l1.2398-1.2398c0.39394-0.39394 0.39394-1.0278 1e-6 -1.4217l-5.2591-5.2591-4.3557-4.3557-5.2591-5.2591c-0.39394-0.39394-1.0278-0.39394-1.4217 1e-6l-1.2398 1.2398z"
                fill="#ec2828" />
        </svg>  
    </div>
</div>

</main>

<footer>
    <p>This website is <a href="https://github.com/nsde/web">open source</a>, which means you can host my website on your computer.</p>
</footer>

</body>
</html>