{% include '_head.html' %}
{% include '_navbar.html' %}

<header class="header" id="home">
    <section class="container">
        {% if title %}
            <h1 class="title">{{ title }}</h1>
        {% endif %}
        
        {% if description %}
            <p class="description" data-version="Currently">{{ description }}</p>
        {% endif %}
        
        {% if button %}
            <a class="button" href="{{ url }}" title="{{ button }}">{{ button }}</a>
        {% endif %}
    </section>
</header>