{% with title="Contact", description="Have any questions? Let me know!" %} {% include '_top.html' %} {% endwith %}

<div class="text-box article-info">
    <p>Please keep in mind, I'm just a <a href="https://youtu.be/jiudBq7z8wk">human</a>, I can't and won't respond
        immediately.</p>
</div>

<table>
    <thead>
        <tr>
            <th>Communication</th>
            <th>Description</th>
            <th>Secure?¹</th>
            <th>Account needed?</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="mailto:onlixx@pm.me"><button>E-Mail</button></a></td>
            <td>General inquiries</td>
            <td>
                <a href="https://tosdr.org/en/service/491">
                    <img src="https://shields.tosdr.org/en_491.svg"/>
                </a>
            </td>
            <td>✅</td>
        </tr>
        <tr>
            <td><a href="https://discord.com/users/657900196189044736"><button>Discord</button></a></td>
            <td>Fast response</td>
            <td>
                <a href="https://tosdr.org/en/service/536">
                    <img src="https://shields.tosdr.org/en_536.svg"/>
                </a>
            </td>
            <td>✅</td>
        </tr>
        <tr>
            <td><a href="https://matrix.to/#/@onlix:matrix.org"><button>Element</button></a></td>
            <td>Secure messaging</td>
            <td>
                <a href="https://tosdr.org/en/service/2498">
                    <img src="https://shields.tosdr.org/en_2498.svg"/>
                </a>
            </td>
            <td>✅</td>
        </tr>
        <tr>
            <td><a href="https://github.com"><button>GitHub¹</button></a></td>
            <td>Software issues</td>
            <td>
                <a href="https://tosdr.org/en/service/297">
                    <img src="https://shields.tosdr.org/en_297.svg"/>
                </a>
            </td>
            <td>✅</td>
        </tr>
    </tbody>
</table>

<p>¹ Use the "issues" section of one of my repositories to report bugs.</p>

{% include "_bottom.html" %}