{% with title="ONLIX", description="Welcome to my website!", url="", button="" %}
    {% include '_top.html' %}
{% endwith %}

<h2 class="title">Hello there!</h3>
  <p>
    I'm Felix, a software dev born in Germany. I enjoy building web apps and
    working with APIs. One of my favourite topics when it comes to technology are privacy, security.
  </p>
  <p>As I mentioned, I value privacy, that's why I won't get too detailed in here about personal things.</p>

  <h2 id="#stats">Statistics</h3>

  <div class="columns">
    <div class="column"><h3>25.000+</h3></div>
    <div class="column"><h3>110+</h3></div>
    <div class="column"><h3>100%</h3></div>
    <div class="column"><h3>7+</h3></div>
  </div>
  <div class="row">
    <div class="column">Lines of Code</div>
    <div class="column">GitHub Projects</div>
    <div class="column">Open Source (public projects only)</div>
    <div class="column">Years of Programming</div>
  </div>

  <details>
    <summary>Info </summary>  
    <i>As of Feb 2022 – partly estimated – Line count without empty lines & without CSS (with: 100K+) – incl. data of <a href="https://github.com/nsde-archive">@nsde-archive</a> — "Private" projects example: I have some closed source parts on my website for projects for/of my friends or so, which don't count as "public", of course.</i>
    </details>
  </summary>

  <br>

  <h2 id="projects">Projects</h2>
  <p>What I currently do...</p>

  <div class="container">
    <div class="row">
      <div class="column"><img src="/coding.jpg"></div>
      <div class="column"><img src="/team.jpg" style="object-fit: scale-down !important;"></div>
      <div class="column"><img src="/raspi.jpg"></div>
    </div>
    <div class="row">
      <div class="column"><h4>Learning new frameworks & languages</h4></div>
      <div class="column"><h4>Teaching Strangers Programming</h4></div>
      <div class="column"><h4>Raspberry Pi Projects</h4></div>
    </div>
    <div class="row">
      <div class="column">
        <ul>
          <li>CSS Frameworks (fixing my website's design on mobile devices)</li>
          <li>JavaScript (Express, Electron)</li>
          <li>Java (Minecraft Mods & Plugins)</li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <li>Mostly on <a href="https://discord.gg/zNPJrxYfdn">LH Cyber Security Discord</a></li>
          <li>Teaching Python & Cyber Security</li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <li>Web Dashboard (Flask)</li>
          <li>AI image recognition (OpenCV) </li>
          <li>Creative experiments</li>
        </ul>
      </div>
    </div>
  </div>

  <h2 id="skills">Skills</h2>
  <ul>
    <li>Python programming (<a href="https://pypi.org/project/flask/">Flask</a>/<a href="https://pypi.org/project/jinja2/">Jinja2</a>, <a href="https://docs.python.org/3/library/tkinter.html">Tkinter</a>, <a href="https://pypi.org/project/py-cord/">pycord</a>/<a href="https://pypi.org/project/discord-py/">discord.py</a>)</li>
    <li>Hardware (building a PC, Raspberry, Arduino)</li>
    <li>...soon JavaScript & Java</li>
  </ul>

{% include '_bottom.html' %}